.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: #f3f6f8;
  }
  
  .Sidebar {
    grid-column: 1 / 2;
  }
  
  .Principal {
    grid-column: 2/2;
    background-color: white;      
  }
  
  