.tweet img {
  margin-top: 10px;  
  object-fit: cover;
  border-radius: 10px;
}

.tweet {
  border: 1px solid #e1e8ed;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.tweet p {
  font-weight: bold;
  margin: 0;
}

.tweet a {
  color: #bf08c9;
  text-decoration: none;
  margin-bottom: 10px;
}


.tweet button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.tweet button.tweet-delete {
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: #e309be;
    font-weight: 700;
    cursor: pointer;
}

.tweet button.tweet-delete:hover {
  text-decoration:rgb(121, 18, 150);
}

.tweet button.tweet-like {
  
    display: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #e309be;
    font-weight: 700;
    cursor: pointer;
}




.tweet__author-logo {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.tweet__author-logo img {
  height: 100%;
  width: 100%;
}



.tweet__publish-time {
  margin-left: 5px;
  color: #657786;
}

.tweet__author-name {
  font-size: 20px;
  font-weight: 700;
  color: black;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-right: 5px;  
}  

.tweet__content {
  font-size: 15px;
  font-weight: 300;
  color: black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    
} 
.input-tweet{

    width: 400px;
    height:70px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 16px;    
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rosybrown;
    border-radius: 15px;
    
}

.file-input {
 
  border: 1px solid rosybrown;
  padding: 5px;
  background-color: #f9f9f9;
  color: #333;
}
.editar-perfil {
  font-family: Arial;
  color:  #e309be;
}
