body {
  background-color: #f3f6f8;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  max-width: 300px;
} 

h1 {
  font-size: 5;
  line-height: 1.1;
  text-align:right;
  font-size: 0%
}
